@font-face {
  font-family: 'freepik';
  src: url('../fonts/freepik.eot?11443557');
  src: url('../fonts/freepik.eot?11443557#iefix') format('embedded-opentype'),
       url('../fonts/freepik.woff2?11443557') format('woff2'),
       url('../fonts/freepik.woff?11443557') format('woff'),
       url('../fonts/freepik.ttf?11443557') format('truetype'),
       url('../fonts/freepik.svg?11443557#freepik') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'freepik';
    src: url('../font/freepik.svg?11443557#freepik') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "freepik";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mortarboard:before { content: '\e800'; } /* '' */
.icon-paper-plane:before { content: '\e801'; } /* '' */
.icon-phone-call:before { content: '\e802'; } /* '' */
.icon-photo-camera:before { content: '\e803'; } /* '' */
.icon-productivity:before { content: '\e804'; } /* '' */
.icon-trophy:before { content: '\e805'; } /* '' */
.icon-confetti:before { content: '\e806'; } /* '' */
.icon-diamond:before { content: '\e807'; } /* '' */
.icon-high-heels:before { content: '\e808'; } /* '' */
.icon-map-placeholder:before { content: '\e809'; } /* '' */